OSRM/*
DARP_IPS/datasets/capInstances/*
DARP_IPS/datasets/Instances/*
DARP_IPS/datasets/Instances1/*
DARP_IPS/datasets/SmallInstances/*
DARP_IPS/datasets/SmallInstances1/*
DARP_Python/NYC/*
DARP_IPS/datasets/manhattan-vehicles/*
