DARP_IPS/bin/*
DARP_IPS/cmake-build-debug/*
DARP_IPS/lib/*
DARP_IPS/cmake-build-release/*
.DS_Store
**/.DS_Store
*.csv
**/.pyc
**/.xml



DARP_IPS/.idea/*
DARP_IPS/.vscode/launch.json
DARP_IPS/.vscode/settings.json
DARP_IPS/.vscode/tasks.json
DARP_IPS/src/solvers/.idea/workspace.xml
Data/*
Outputs/*
DARP_IPS/src/data/.idea/*
dataset/*
DARP_IPS/.idea/misc.xml
DARP_IPS/build-gurobi/*
DARP_IPS/build-cplex/*
NYC_Dataset_2015-2016.zip
